body {
  background: white;
  background: radial-gradient(circle, #fff 20%, #c0d1f0);
  background-size: cover;
  font-family: "Courgette", cursive;
  color: #434244;
  text-align: center;
}
.App{
    margin-top:50px;
}
.form-ysr{
    margin-top:50px;
}
h1{
    font-size:35px;
    color:#f37d58;
}